.container {
    display: flex;
    justify-content: center;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin: 20px;
}

.menuOptions {
    height: 100px;
    width: 100px;
    border: 4px solid red;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

.regions {
    display: flex;
    justify-content: space-between;
}

.region {
    width: 500px;
    border: 3px black solid;
    border-radius: 5em;
    margin: 100px;
    padding: 15px;
}

.card {
    border: 2px solid red;
    border-radius: 3em;
    width: 200px;
    margin: 15px;
    padding: 15px;
}

.button {
    margin: 5px;
    padding: 5px;
}
